LENGUAJES DE MARCAS Y SISTEMAS DE GESTIÓN EMPRESARIAL/EJERCICIOS/01 PRÁCTICAS/UD3/UD3 - P17/17.1a/usuario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="usuario">
        <xs:complexType>
            <xs:all>
                <xs:element name="login" type="xs:string" />
                <xs:element name="mail" type="xs:string" />
                <xs:element name="fecha_creacion" type="xs:date" />
                <xs:element name="id" type="xs:positiveInteger" />
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>