LENGUAJES DE MARCAS Y SISTEMAS DE GESTIÓN EMPRESARIAL/EJERCICIOS/01 PRÁCTICAS/UD3/UD3 - P19/19.1/aficion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="deporte" type="xs:string" />
    <xs:element name="instrumento" type="xs:string" />
    <xs:element name="aficion">
        <xs:complexType>
            <xs:sequence>
                <xs:any minOccurs="1" maxOccurs="5" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>