LLMM/EJERCICIOS/02 EJERCICIOS/UD3/E06.XSD1/Esquema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="actividad/1.org" 
  elementFormDefault="qualified">
  <xs:element name="uno">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="descripción" type="xs:string" />
        <xs:element name="contenido" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
