LLMM/EJERCICIOS/00 RECURSOS Y ENUNCIADOS/UD3/RECURSOS/curso/curso.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >
<xs:element name="curso" >
<xs:complexType>
<xs:sequence>
    <xs:element name="alumno" maxOccurs="30">
    <xs:complexType>
    <xs:all>
        <xs:element name="NIA" type="xs:positiveInteger"/>
        <xs:element name="nacimiento" type="xs:date"/>
    </xs:all>
    </xs:complexType>
    </xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
