LENGUAJES DE MARCAS Y SISTEMAS DE GESTIÓN EMPRESARIAL/EJERCICIOS/01 PRÁCTICAS/UD3/UD3 - P14/P14.2/centroEducativo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="actividad/centroE.org" elementFormDefault="unqualified">
  <xs:element name="centro">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="direccion">
          <xs:complexType>
            <xs:attribute name="localidad" type="xs:string" />
        </xs:complexType>
      </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
