LLMM/EJERCICIOS/00 RECURSOS Y ENUNCIADOS/UD3/RECURSOS/Libro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="capítulos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="capítulo" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="título" type="xs:string"/>
              <xs:element name="página-inicial" type="xs:integer"/>
              <xs:element name="página-final" type="xs:integer"/>
             </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>