LENGUAJES DE MARCAS Y SISTEMAS DE GESTIÓN EMPRESARIAL/EJERCICIOS/00 RECURSOS Y ENUNCIADOS/UD3/RECURSOS/optativas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="www.centro.org/optativas">
<xs:attribute name="optativaCiencias" type="xs:string" />
<xs:attribute name="optativaHumanidades" type="xs:string" />
<xs:attribute name="optativaArte" type="xs:string" />
<xs:attribute name="extraescolar" type="xs:string" />
</xs:schema>
