LLMM/EJERCICIOS/01 PRÁCTICAS/UD3/UD3 - P19/19.2/otro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="otros.org" elementFormDefault="unqualified">
    <xs:element name="otro">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="categoria" type="xs:string" />
                <xs:element name="descripcion" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>